In [287]:
import pandas as pd

In [288]:
# IMPORT THE DTA
df = pd.read_csv("50Ksalary.data")
df[df['age']==39]

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
28,39,Private,367260,HS-grad,9,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,80,United-States,<=50K
129,39,Private,365739,Some-college,10,Divorced,Craft-repair,Not-in-family,White,Male,0,0,40,United-States,<=50K
166,39,Federal-gov,235485,Assoc-acdm,12,Never-married,Exec-managerial,Not-in-family,White,Male,0,0,42,United-States,<=50K
297,39,?,157443,Masters,14,Married-civ-spouse,?,Wife,Asian-Pac-Islander,Female,3464,0,40,?,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32378,39,Private,214896,HS-grad,9,Separated,Other-service,Not-in-family,White,Female,0,0,40,El-Salvador,<=50K
32428,39,Federal-gov,110622,Bachelors,13,Married-civ-spouse,Adm-clerical,Wife,Asian-Pac-Islander,Female,0,0,40,Philippines,<=50K
32468,39,Self-emp-not-inc,193689,HS-grad,9,Never-married,Exec-managerial,Not-in-family,White,Male,0,0,65,United-States,<=50K
32510,39,Private,107302,HS-grad,9,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,45,?,>50K
32545,39,Local-gov,111499,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,20,United-States,>50K

In [289]:
# OBSERVE THE DATASET
df.describe()
num_instance = len(df)
num_att = len(df.iloc[0]) - 1

In [290]:
# CLEAN THE DATA, REMOVE NULLS
df = df.dropna() 
len(df)

32561

In [291]:
# SEPERATE THE X AND Y
X = df.drop(columns=['salary']).values
y = df[['salary']].values
# .value IS NECESSARY BECAUSE THE CONVERSION IS BEING DONE BY LabelEncoder

array([[' <=50K'],
       [' <=50K'],
       [' <=50K'],
       ...,
       [' <=50K'],
       [' <=50K'],
       [' >50K']], dtype=object)

In [292]:
# CONVERTING X VALUES INTO NUMERICS
from sklearn.preprocessing import LabelEncoder
Le = LabelEncoder()
# CHANGE ATTRIBUTE BY ATTRIBUTE
for i in range(len(X[0])):
    X[:,i]  = Le.fit_transform( X[:,i])

22
7
2671
9
12
4
1
1
4
1
25
0
39
39

In [293]:
# CONVERTING Y VALUES INTO NUMERICS
for i in range(len(y[0])):
    y[:, i] = Le.fit_transform(y[:, i])

In [294]:
X=X.astype('int')
y = y.astype('int')
# CONERT TO INT TYPE

In [295]:
# SPLIT INTO TRAINING SET AND TEST SET
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

array([[0],
       [0],
       [0],
       ...,
       [0],
       [0],
       [1]])

In [296]:
# CREATE AND MODEL AND TRAIN
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(weights='uniform', n_neighbors=25)
y_train =  y_train.ravel() # Y NEEDS TO BE 1D ARRAY
try:
    knn.fit(X_train, y_train)
except Exception as e:
    print(e)

In [297]:
# TESTING 
try:
    print("prediction: ", knn.predict(X_test)[20])
    print("actual: ", y_test[20])
except Exception as e:
    print(e)

prediction:  0
actual:  [0]

In [298]:
# SCORE
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, knn.predict(X_test)))

0.7801320436050975

In [301]:
# testing linear regression 
from sklearn.linear_model import LogisticRegression
LR = LogisticRegression(solver='liblinear')
LR.fit(X_train, y_train)
try:
    print("prediction: ", knn.predict(X_test)[20])
    print("actual: ", y_test[20])
except Exception as e:
    print(e)
print("accuarcy score fr LR: ", accuracy_score(y_test, knn.predict(X_test)))

prediction:  0
actual:  [0]
accuarcy score fr LR:  0.7801320436050975

In [300]:
# testing DecisionTreeClassifier
from sklearn.tree import DecisionTreeClassifier
DTC = DecisionTreeClassifier()
DTC.fit(X_train, y_train)
try:
    print("prediction: ", DTC.predict(X_test)[20])
    print("actual: ", y_test[20])
except Exception as e:
    print(e)
print("accuarcy score fr LR: ", accuracy_score(y_test, DTC.predict(X_test)))

prediction:  0
actual:  [0]
accuarcy score fr LR:  0.8036235221863964